@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
* {
  margin: 0 !important;
  padding: 0 !important;
}
a {
  text-decoration: none;
}

input[type="number"] {
  padding-left: 20px !important;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background: rgba(255, 255, 255, 0.93);
  overflow-x: hidden;
}

.Loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
}

.Loading h2 {
  padding: 8px !important;
  text-align: center;
}
.hide {
  animation: fade 1.5s forwards;
}

@keyframes fade {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.heading {
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  background: #11ca87;
}
.head1 {
  font-size: 30px;
  line-height: 59px;
  text-align: center;
  color: #fffdfd;
  opacity: 0;
}
.heading img {
  position: absolute;
  left: 20px;
  top: 0px;
  width: 60px;
}
main {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.93);
}
.back-btn {
  position: absolute;
  width: 220px;
  height: 60px;
  left: 190px;
  top: 20px;
  background: #effbed;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  opacity: 0;
}
.back-btn img {
  margin-left: -30px !important;
  width: 75px;
}

.back-btn h3 {
  margin-top: 7px !important;
  font-family: Rationale;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 46px;
  color: #000000;
}

.length-main {
  position: relative;
  width: 900px;
  height: 950px;
  left: 160px;
  top: 120px;
  background-image: linear-gradient(to top, #1ba5a5 0%, #4b188a 100%);
  border-radius: 4px;
  margin: 20px !important;
}
.main-head {
  position: absolute;
  left: 200px;
  top: 30px;
  font-weight: bold;
  font-size: 40px;
  line-height: 59px;
  color: #fff9fa;
  opacity: 0;
}
.underline {
  position: absolute;
  width: 0;
  height: 6px;
  left: 25px;
  top: 87px;
  background: rgba(103, 226, 169, 0.76);
  border-radius: 20px;
}
.miles,
.meters,                            
.feet,
.inches,
.k-meters,
.De-meters,
.yards,
.cmeters {
  position: absolute;
  width: 300px;
  height: 60px;
  left: 90px;
  top: 140px;
  background: rgba(23, 90, 102, 0.2);
  border-radius: 1px;
}
.meters {
  top: 240px;
}
.feet {
  top: 340px;
}
.inches {
  top: 440px;
}
.k-meters {
  top: 540px;
}
.De-meters{
  top: 640px;
}
.yards{
  top:740px;
}
.cmeters{
  top:840px;
}

.miles h2 ,
.meters h2,
.feet h2,
.inches h2,
.k-meters h2,
.De-meters h2,
.yards h2 ,
.cmeters h2{
  text-align: center;
  font-size: 30px;
  line-height: 59px;
  color: #e1f2e5;
}

#miles-input,
#mt-input,
#feet-input,
#inches-input,
#km-input,
#dm-input,
#Yards-input,
#cmeters-input {
  position: absolute;
  width: 350px;
  height: 50px;
  left: 460px;
  top: 145px;
  background: #f8f8f9;
  border-radius: 6px;
  border: none;
  outline: none;
}
#mt-input {
  top: 245px;
}
#feet-input {
  top: 345px;
}
#inches-input {
  top: 445px;
}
#km-input {
  top: 545px;
}
#dm-input {
  top: 645px;
}
#yards-input {
  top: 745px;
}
#cmeters-input {
  top:845;
}

